fastapi
uvicorn
jinja2
python-dotenv
python-multipart

langgraph
langchain
langchain-core

langchain-groq
ipython

google-api-python-client
google-auth-httplib2
google-auth-oauthlib

streamlit
typing-extensions