# Core
streamlit
python-dotenv

# LangChain / LangGraph
langgraph
langchain
langchain-core
langchain-groq

# Google APIs
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Misc
typing-extensions